@import "Ginkgo";
@import "bootstrap/bootstrap";

html {
  font-size: 16px;
  height: 100%;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  font-family:'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.w-2550 {
  width: 25%;

  @include range-width(0, 450px) {
    width: 50%;
  }
}

.w-3 {
  width: 3% !important
}

.border-bs {
  border-bottom: 2px dotted rgba(217, 222, 226, .8);
}

.bg-test01 {
  height: 30px;
  border: 1px solid rgba(255, 0, 0, .3);
}

.bg-test02 {
  height: 300px;
  background-color: rgba(255, 0, 0, 0.2);
}

.bg-test03 {
  height: 300px;
  background-color: rgba(0, 128, 0, 0.2);
}

.mob-open {
  display: none !important;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.mob-close {
  display: inline-block !important;
  @include range-width(0, 450px) {
    display: none !important;
  }
}

.btn_set {
  line-height:normal;
}

.btn-s {
  font-size: .9rem;
}

.btn-q {
  font-size: 1.6rem;
  color: rgba(255, 238, 12, 1.00);
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    color: rgba(255, 238, 12, .9);
  }
}

.btn-hard {
  display: inline-block;
  color: white;
  font-size: .9rem;
  @include border-radius(3px);
  background-color: rgba(0, 43, 95, 1.00);
  border: 0;
  outline: 0;
  padding: 5px;
  line-height: 15px;
}

.mob-menu-icon {
  font-size: 1.8rem;
}

.img-Hlogo {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.bg-green {
  background-color: rgba(124, 194, 62, 1.00);
}

.bg-white {
  background-color: white;
}

.bg-title {
  background-color: rgba(80, 192, 221, 1.00);
}

.btn-orange {
  color: white;
  background-color: $orange-500;

  &:hover {
    color: white;
    background-color: $orange-400;
  }
}

.w-menu {
  display: inline-block;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid white;
  color: rgba(43, 43, 43, 1.00);
  font-size: 1.12rem;
  position: relative;
  padding-left: 75px;
  text-decoration: none;
  background-color: $light;

  &:before {
    display: inline-block;
    content: attr(title);
    margin-right: 5px;
    position: absolute;
    left: 20px;
  }

  &.no-border {
    border: 0;
  }

  &.stepone {
    padding-left: 20px;
  }

  &.on-step {
    color: $blue;
    > a {
      color: transparent;
    }
  }

  &.pass-step {
    color: $gray-600;
    background-color: $gray-200;
  }

  > a {
    text-decoration: none;
    color: rgba(43, 43, 43, 1.00); 
  }
}

.link-header {
  display: inline-block;
  font-size: 1.1rem;
  color: white;
  line-height: 68px;
  text-decoration: none;
  margin-left: 30px;

  &:before {
    display: inline-block;
    content: '●';
    margin-right: 10px;
  }

  &:hover {
    color: rgba(255, 255, 255, .8);
  }
}

.title-type {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0;
  line-height: 40px;
}

.title-type2 {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0;
  line-height: 30px;
  padding-left: 40px;
  position: relative;

  &:before {
    display: inline-block;
    content: attr(title);
    position: absolute;
    left: 0;
  }
}


.popup-r {
  background-color: rgba(248, 176, 176, 1.00);
  border: 5px solid rgba(165, 33, 33, 1.00);

  .modal-header {
    color: rgba(164, 32, 33, 1.00);
    padding-left: 1.2rem;
    padding-right: 1.5rem;
  }

  .modal-body {
    background-color: white;
  }

  .popup-list-r {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 1.05rem;
    color: rgba(26, 26, 26, 1.00);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;

    &:before {
      display: inline-block;
      content: attr(title);
      position: absolute;
      left: 10px;
    }
  }
}

.popup-y {
  background-color: rgba(255, 239, 191, 1.00);
  border: 5px solid rgba(175, 123, 2, 1.00);

  .modal-header {
    border-bottom: 3px solid rgba(255, 229, 162, 1.00);
    color: rgba(81, 59, 5, 1.00);
    padding-left: 1.2rem;
    padding-right: 1.5rem;
  }

  .popup-list {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 1.05rem;
    color: rgba(26, 26, 26, 1.00);
    padding-left: 30px;
    padding-top: 10px;

    &:before {
      display: inline-block;
      content: attr(title);
      position: absolute;
      left: 10px;
    }

    &.s3-use-no {
      padding-left: 10px;
    }

    &.s3-use-list {
      padding-left: 40px;
    }
  }
}

.pop-none {

  .modal-header {
    padding-left: 1.2rem;
    padding-right: 1.5rem;
  }

  .popup-list3 {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 1.05rem;
    color: rgba(26, 26, 26, 1.00);
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 300;

    &:before {
      display: inline-block;
      content: attr(title);
      position: absolute;
      left: 10px;
    }

    &.s3-use-no {
      padding-left: 10px;
    }

    &.s3-use-list {
      padding-left: 40px;
    }
  }
}


.markUse {
  font-style: normal;
  margin: 0 5px;
}

.check_list {
  display: inline-block;
  position: relative;
  padding-left: 30px;

  &:before {
    display: inline-block;
    content: attr(title);
    margin-right: 5px;
    position: absolute;
    left: 10px;
  }
}

// effect
#clockdiv {
  color: red;
  display: inline-block;
  margin-right: 15px;
  font-size: 1.1rem;
  line-height: 38px;
}















